:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h2,
p,
button {
  color: #555;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

a:link,
a:visited {
  color: black;
}

button {
  border: 0.1rem #ddd solid;
  padding: 0.2rem 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
  height: 300px;
  width: 300px;
  padding: 0.1rem;
  margin-bottom: 0.5rem;
  background: #ddd;
  border-radius: 2px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 2px;
}

.grid-item:hover {
  background: #ffffff99;
}

.grid-item:active {
  border: #ddd ridge 0.1rem;
}

.grid-item > p {
  height: 2rem;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
  padding: 2rem;
  width: calc(100% - 6rem);
  background: rgb(255, 236, 223);
}

.display-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.display-container > div:first-child {
  width: 70%;
}

.display-container > div:last-child {
  width: 30%;
}

.wins {
  box-sizing: border-box;
  border: 0.2rem solid #ddd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  width: 100%;
}

.wins > p:first-child {
  background-color: #ddc;
  border-bottom: 0.2rem solid #ddd;
}

.hidden {
  display: none;
}